<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LOGO PESTAÑA -->
    <link rel="icon" href="images/mercadoliebrelogosolo.png">

    <title>Mercadoliebre</title>

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/712575d4a5.js" crossorigin="anonymus"></script>

    <!-- HOJA DE ESTILO -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <div class="unir2">
        <div class="unir">
        <!-- LOGO -->
        <img src="images/logo-mercado-liebre.svg" alt="" class="logo">

        <!-- BUSCADOR -->
        <div class="buscador"><input class="buscador" type="" value="Que estas buscando?"></div>
        </div>
        <br>

        <!-- TITULAR -->
        <article class="titular titulardt">
            Compre en cuotas y sin tarjeta de credito <i class=" fas fa-hand-holding-usd"></i>
        </article>
        </div>
        

        <!-- NAVEGADOR -->
        <nav class="nav">
            <ul class="nav">
                <li><a href="">Ofertas </a> <i class="fas fa-dollar-sign"></i></li>
                <li><a href="">Tiendas oficiales</a> <i class="fas fa-check-circle"></i></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a><i class="fas fa-question"></i></li>
            </ul>
                <br>
            <ul class="nav">
                <li><a class="azul" href="/register">Crea tu cuenta </a> <i class="fas fa-id-card"></i></li>
                <li><a class="azul" href="/login">Ingresa </a> <i class="fas fa-sign-out-alt"></i></li>
                <li><a  href="">Mis compras </a> <i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>

        <!-- BURGER -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!--BANNER-->
    <section>
        <img src="images/img-home-banner.jpg" alt="" width="100%">
    </section>
    <main>
        <!-- TITULAR -->
        <br><article class="titular">Seccion basado en la ultima visita</article><br>
        <div class="productos">
        <div class="section">
        <section class="card">
            <img class="imagen" src="images/img-cafetera-moulinex.jpg" alt="">
            <article class="card2">
                <div class="verde camion"><i class="fas fa-truck"></i></div>
                <div class="unir"><p class="precio">$6.770</p>
                <p class="verde descuento">40% OFF</p></div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
        </section></div>

        <div class="section">    
        <section class="card">
            <img class="imagen" src="images/img-macbook-pro-2019.jpg" alt="" >
            <div class="card2">
                <div class="verde camion"><i class="fas fa-truck"></i></div>
                <div class="unir"><p class="precio">$230.000</p>
                <p class="verde descuento">20% OFF</p></div>
                <p class="descripcion">Mac Book</p>
            </div>
        </section></div>

        <div class="section">
        <section class="card">
            <img class="imagen" src="images/img-samsung-galaxy-s10.jpg" alt="" >
            <div class="card2">
                <div class="verde camion"><i class="fas fa-truck"></i></div>
                <div class="unir"><p class="precio">$70.500</p>
                <p class="verde descuento">10% OFF</p></div>
                <p class="descripcion">Samsung Galaxy s10</p>
            </div>
        </section></div>

        <div class="section">    
        <section class="card">
            <img class="imagen" src="images/img-tv-samsung-smart.jpg" alt="" >
            <div class="card2">
                <div class="verde camion"><i class="fas fa-truck"></i></div>
                <div class="unir"><p class="precio">$23.200</p>
                <p class="verde descuento">5% OFF</p></div>
                <p class="descripcion">Smart TV Samgung</p>
            </div>
        </section></div>
        </div>

        <!-- TITULAR -->
        <br><article class="titular">Seccion ofertas</article><br>

        <div class="productos">
            <div class="section">
            <section class="card">
                <img class="imagen" src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="card2">
                    <div class="verde camion"><i class="fas fa-truck"></i></div>
                    <div class="unir"><p class="precio">$6.770</p>
                    <p class="verde descuento">40% OFF</p></div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </section></div>
    
            <div class="section">    
            <section class="card">
                <img class="imagen" src="images/img-macbook-pro-2019.jpg" alt="" >
                <div class="card2">
                    <div class="verde camion"><i class="fas fa-truck"></i></div>
                    <div class="unir"><p class="precio">$230.000</p>
                    <p class="verde descuento">20% OFF</p></div>
                    <p class="descripcion">Mac Book</p>
                </div>
            </section></div>
    
            <div class="section">
            <section class="card">
                <img class="imagen" src="images/img-samsung-galaxy-s10.jpg" alt="" >
                <div class="card2">
                    <div class="verde camion"><i class="fas fa-truck"></i></div>
                    <div class="unir"><p class="precio">$70.500</p>
                    <p class="verde descuento">10% OFF</p></div>
                    <p class="descripcion">Samsung Galaxy s10</p>
                </div>
            </section></div>
    
            <div class="section">    
            <section class="card">
                <img class="imagen" src="images/img-tv-samsung-smart.jpg" alt="" >
                <div class="card2">
                    <div class="verde camion"><i class="fas fa-truck"></i></div>
                    <div class="unir"><p class="precio">$23.200</p>
                    <p class="verde descuento">5% OFF</p></div>
                    <p class="descripcion">Smart TV Samgung</p>
                </div>
            </section></div>
            </div>
            <br>
    </main>
    <footer>
        <article>
            <div class="icono"><i class="fas fa-credit-card"></i></div>
            <p>Paga con tarjeta o en efectivo<p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
        </article>

        <article>
            <div class="icono"><i class="fas fa-truck"></i></div>
            <p>Envío gratis desde $ 2.500 <p>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                        unbeneficio de Mercado Puntos.</p>
        </article>

        <article>
            <div class="icono"><i class="fas fa-lock"></i></div>
            <p>Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>

        <article>Copyright © 1999-2020 MercadoLiebre S.R.L.</article>

    </footer>

</body>

</html>