<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LOGO PESTAÑA -->
    <link rel="icon" href="images/mercadoliebrelogosolo.png">
    
    <title>Register</title>
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/712575d4a5.js" crossorigin="anonymus"></script>

    <!-- HOJA DE ESTILO -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="unir2">
        <div class="unir">
        <!-- LOGO -->
        <img src="images/logo-mercado-liebre.svg"  alt="" class="logo">

        <!-- BUSCADOR -->
        <div class="buscador"><input class="buscador" type="" value="Que estas buscando?"></div>
        </div>
        <br>

        <!-- TITULAR -->
        <article class="titular titulardt">
            Compre en cuotas y sin tarjeta de credito <i class=" fas fa-hand-holding-usd"></i>
        </article>
        </div>
        

        <!-- NAVEGADOR -->
        <nav class="nav">
            <ul class="nav">
                <li><a href="">Ofertas </a> <i class="fas fa-dollar-sign"></i></li>
                <li><a href="">Tiendas oficiales</a> <i class="fas fa-check-circle"></i></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a><i class="fas fa-question"></i></li>
            </ul>
                <br>
            <ul class="nav">
                <li><a href="/register">Crea tu cuenta </a> <i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresa </a> <i class="fas fa-sign-out-alt"></i></li>
                <li><a href="">Mis compras </a> <i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>

        <!-- BURGER -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="register">
        <br>
        <article class="titular">Complete el formulario para registrarse</article><br>
        <form action="#" method="POST">

            <div class="login">
                <label for="name"></label>
                <input class="logincase" type="text" placeholder="Nombre y apellido" name="name" required>
            </div>

            <div class="login">
                <label for="user"></label>
                <input class="logincase" type="text" placeholder="Nombre de usuario" name="user" required>
            </div>

            <div class="login">
                <label for="email"></label>
                <input class="logincase" type="text" placeholder="Email" name="email" required>
            </div>


            <div class="login">
                <label for="date">Nacimiento</label><br>
                <input class="logincase" type="date"required>
            </div>

            <div class="login">
                <label for="domicilio"></label>
                <input class="logincase" type="text" placeholder="Domicilio" name="domicilio" required>
            </div>

            <h4 class="login">Perfil de usuario</h4>

            <div class="login block">
                <label for="usuario">comprador</label>
                <input type="radio" name="usuario" value="comprador">
                <label for="usuario">vendedor</label>
                <input type="radio" name="usuario" value="vendedor">
            </div>

            <h4 class="login">Intereses</h4>  
            

            <div class="intereses">
                <label for="intereses">Electro</label>
                <input class="checkbox" type="checkbox" name="intereses" value="Electro">
                <label for="intereses">Moda</label>
                <input class="checkbox" type="checkbox" name="intereses" value="Moda">
                <label for="intereses">Hogar</label>
                <input class="checkbox" type="checkbox" name="intereses" value="Hogar">
                <label for="intereses">Vida sana</label>
                <input class="checkbox" type="checkbox" name="intereses" value="Vida sana">
            </div>
            
            <div class="login">
                <label >Foto de usuario:</label>
                <input class="checkbox" class="logincase" type="file">
            </div>

            <div class="login">
                <label for="password"></label>
                <input class="logincase" type="password" placeholder="Contraseña">
            </div>

            <div class="login">
                <label for="password"></label>
                <input class="logincase" type="password" placeholder="Contraseña">
            </div>
            
            <div class="boton">
            <button class="boton2 boton2h" type="submit">
                <div >
                    <a class="letrab" href="#">Registrarse</a>
                </div>
            </button>
            </div>

            
            <div class="boton">
            <button class="boton2 btn-red" type="reset">
                <div>
                    <a class="letrab" href="">Borrar</a>
                </div>
            </button>
            </div>
        </form>
        <br><br>
    </main>
    <footer>
        <article>
            <div class="icono"><i class="fas fa-credit-card"></i></div>
            <p>Paga con tarjeta o en efectivo<p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
        </article>

        <article>
            <div class="icono"><i class="fas fa-truck"></i></div>
            <p>Envío gratis desde $ 2.500 <p>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es
                        unbeneficio de Mercado Puntos.</p>
        </article>

        <article>
            <div class="icono"><i class="fas fa-lock"></i></div>
            <p>Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>

        <article>Copyright © 1999-2020 MercadoLiebre S.R.L.</article>

    </footer>
</body>
</html>